

.shCont{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}

.clipCont{
    background-color: #b7c3bd;
    box-shadow: -1px 8px 8px;
    border-radius: 5px;
    max-width: 540px;
    margin: 12px;
    padding: 12px;
}

.post{
    
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

@media only screen and (max-width: 884px){
    .post{
        max-width: 800px;
        flex-direction: column;
        min-width: 200px;
    }

    .post .sCover{
        margin:auto;
    }
}

.post .sCover{
    width: 100%;
    min-width: 230px;
    max-width: 400px;
}

.post img{
    width: 100%;
}

.post .sDet{
    width: 100%;
    min-width: 220px;
    padding: 12px;
    justify-content: center;
}

.sDet > .detCont{
    margin: auto;
    width: fit-content;
}

.detCont p{
    margin: 5px;
}

.btnCont{
    width: 100%;
    background-color: #1e2321;
    overflow: hidden;
}

.btnCont a{
    float: left;
    width: 50%;
    display: block;
    color: black;
    background-color:#7b9185;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
}

.btnCont a:hover{
    background-color: #61756a;
    color: #1e2321;
}

.btnCont span{
    font-size: 30px;
    font-style: normal;
    font-weight: bolder;
}

.btnCont .wishlist{
    background-color: #3d4442;
}

.btnCont .watch{
    background-color: #555857;
    padding: 20px;
}