.clipCOnt{
    width: fit-content;
    margin: auto;
    margin-top: 160px;
    background-color: #b7c3bd;
    border-radius: 15px;
    border: none;
    padding: 30px;
}

.clipCOnt input, textarea{
    border: none;
    padding: 5px;
    outline: none;
    width: 70%;
    max-width: 400px;
    min-width: 230px;
    font-size: large;
    margin-bottom: 10px;
    resize: none;
    border-radius: 3px;
}

.clipCOnt input[type=submit]{
    border: none;
    padding: 15px 25px;
    border-radius: 3px;
    font-size: large;
    cursor: pointer;
    margin-top: 12px;
    transition: 0.3s;
}

.clipCOnt input[type=submit]:hover{
    color: white;
    background-color: #1e2321;
}